
.hero-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imgbut {
    outline: none; 
    background-color: rgba(255,255,255,.5); 
    cursor: pointer; 
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.imgbut:hover {
    background-color: rgba(255,255,255,.8); 
}

@media screen and (min-width:1024px){ 
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://firebasestorage.googleapis.com/v0/b/makotty-219613.appspot.com/o/me%2Fme4.jpg?alt=media&token=51abdd17-c60c-4ec5-9ee8-b480994db41e");
        height: 400px;
    }

    .hero-text {
      top: 50%;
    }
}


@media screen and (min-width:210px) and (max-width: 1024px){
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://firebasestorage.googleapis.com/v0/b/makotty-219613.appspot.com/o/me%2Fme.jpg?alt=media&token=b2bdd03e-dab7-4287-a212-995fb84bf916");
        height: 400px;
    }

    .hero-text {
        top:65%;
    }
}
