@media screen and (min-width: 1024px){ 
	.slideanim{
		margin-left: 10%;
	}
}

.all {
    color: white;
}

.left a {
	color: white;
	text-decoration: none;
}

.left a:hover {
	color: pink;
	text-decoration: none;
}