@media screen and (min-width: 1024px){ 
	.slideanim{
		margin-left: 10%;
	}
}


@media screen and (min-width:210px) and (max-width: 1024px){
	#contact {
		margin-bottom: 40px;
	}
}

.all {
    color: white;
	background-image: radial-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.5)), url("/img/back.jpg");
}

.left a {
	color: white;
	text-decoration: none;
}

.left a:hover {
	color: pink;
	text-decoration: none;
}