*{
    box-sizing: border-box;
}

.all {
    background-image: radial-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.5)), url("/img/back.jpg");
}

.cub {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.column img {
    opacity: 1; 
    object-fit: cover; 
    cursor: pointer;
    width: 100%;
}

.column img:hover {
    opacity: 0.85;
}

.column1 img {
    opacity: 1; 
    object-fit: cover; 
    cursor: pointer;
}

.column1 img:hover {
    opacity: 0.85;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width:1024px){ 
    .column {
        width: 25%;
    }

    .column img {
        height: 250px;
    }

    .carousel-inners img {
        height: 450px;
        margin: 20px 0 20px 0;
    }

    .carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; 
        background-color: rgba(0, 0, 0, .35);
        overflow-x: hidden;
    }
}


@media screen and (min-width:210px) and (max-width: 1024px){
    .column {
        width: 50%;
    }

    .column img {
        height: 150px;
    }

    #demo {
        display: none;
    }

    .carousel-inners {
        display: none;
    }

    .carousel {
        display: none;
    } 

    .carousel-item, .carousel-indicators, .carousel-control-prev {
        display: none;
    }
}