.text-center {
	color: white;
}

.heading {
	border-radius: 10px 10px 0 0;
	background-color: rgba(0,0,0, .5);
	color: white;
}

.panel-body {
	text-align: left;
	margin: 10% 0 0 0;
	height: 210px;
}

.panel-footer {
	height: 160px;
}

.container-fluid {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.description {
	color: #FF0F7F;
}

.btn {
	margin-top: 20px;
	background-color: inherit;
	outline: none;
}

.btn a {
	color: white;
	text-decoration: none;
}

.btn a:hover {
	color: white;
	text-decoration: none;
}

.all {
	background-image: radial-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.5)), url("https://firebasestorage.googleapis.com/v0/b/makotty-219613.appspot.com/o/back.jpg?alt=media&token=2ad42adc-71d5-451d-80d9-5d7571615eac");
	object-fit: cover;
	background-repeat: no-repeat;
}


.panel1 {
	background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("https://firebasestorage.googleapis.com/v0/b/makotty-219613.appspot.com/o/back.gif?alt=media&token=36eda588-b444-4026-bb3e-249d8e3461a2");
}

.panel2 {
	background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("https://firebasestorage.googleapis.com/v0/b/makotty-219613.appspot.com/o/back2.gif?alt=media&token=1c606eed-401b-4170-82d4-2eb470dafca0");
}

.bot a{
	color: white;
}

@media screen and (min-width: 1024px){ 
	.panel-default {
		width: 310px;
		margin: 25px 20px 40px 20px;
		border-radius: 10px;
	}

	.description {
		margin-left: 50%;
	}

	.bottom {
		width: 100%;
		position: fixed;
		bottom: 0;
	}

	.image {
		width: 40%;
		margin: 2% 30% 0 30%;
	}

}

@media screen and (min-width:210px) and (max-width: 1024px){
	.panel-default {
		width: 95%;
		margin: 25px 20px 40px 20px;
		border-radius: 10px;
	}

	.image {
		width: 70%;
		margin: 10% 15% 0 15%;
	}

	.success {
		width: 80%;
		margin: 0 10% 0 10%;
	}
}
