RewriteEngine On
Options +FollowSymLinks

RewriteCond %{REQUEST_FILENAME} index.php
RewriteCond %{QUERY_STRING} page=article
RewriteCond %{QUERY_STRING} pid=5
RewriteRule ^.*?$ http://www.makotty.info/ [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
